body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: lightblue;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.devices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.devices img {
    width: 700px;
    height: 400px;
    margin: 0 20px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    margin-left: 40px;
    margin-bottom: 30px;
}

li {
    margin-bottom: 10px;
}

.decision {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.decision button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin: 0 10px;
    cursor: pointer;
}

.decision span {
    margin: 0 10px;
    font-size: 1.2em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}


